<h1>Take your Scrabble turn:</h1>
  <form action="/scrabble_word">
    <div class="form-group">
      <label for="word">What word are you putting down?</label>
      <input id="word" name="word" class="form-control" type="text">
    </div>
  <button type="submit" class="btn-success">Send</button>
</form>
